body {
  display: flex;
  flex-direction: column
}
header {
  width: 100%;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
  backgroung-color: red;
}
article{
  flex: 2;
  overflow-y: auto;
  color: yellow;
  border: 2px solid white,
}
aside{
  flex: 1;
  overflow-y: auto;
  border: 2px solid white,
}
